{% macro classes(name) %}
  {% set _field = app._field(name) %}
  {% if _field is not empty and _field.isError %}has-error{% endif %}
{% endmacro %}

{% macro messages(name, hClass) %}
  {% set _field = app._field(name) %}
  {% set hClass = hclass|default('help-block') %}
  {% if _field is not empty and _field.isError %}
    {% for text in _field.getText %}
      <span class="{{ hClass }}">{{ text }}</span>
    {% endfor %}
  {% else %}
    <span class="{{ hClass }}"></span>
  {% endif %}
{% endmacro %}

{% macro _form_element_attrs(opts) %}
  {% set name = opts.name| default('') %}
  {% set id = opts.id|default(name) %}
  {% if id is not empty %}
    id="{{ id }}"
  {% endif %}
  {% if name is not empty %}
    name="{{ opts.name }}"
  {% endif %}
  class="{{ opts.inputClass }}"
  autocomplete="{{ opts.autocomplete ? "on" : "off" }}"
  {% for key,val in opts.data|default({}) %}
    data-{{ key }}="{{ val }}"
  {% endfor %}
{% endmacro %}

{% macro _form_input_attrs(opts, value) %}
  type="{{ opts.type }}"
  placeholder="{{ opts.placeholder|default(opts.label) }}"
  {% if opts.type in ['checkbox'] %}
    {{ value is empty ? '' : 'checked="checked"' }}
    value="1"
  {% else %}
    value="{{ value }}"
  {% endif %}
{% endmacro %}

{% macro _form_select_attrs(opts) %}
  {% if opts.multiple %}multiple="multiple"{% endif %}
{% endmacro %}

{% macro _form_textarea_attrs(opts) %}
  {% if opts.rows %}rows="{{ opts.rows }}"{% endif %}
  {% if opts.cols %}cols="{{ opts.cols }}"{% endif %}
{% endmacro %}

{% macro label(opts) %}
  {% if opts.label is not empty %}
    <label class="{{ opts.labelClass }}" for="{{ opts.name }}">
      {{ opts.label|raw }}
    </label>
  {% endif %}
{% endmacro %}

{% macro _input(opts, value, _field) %}
  {% import _self as self %}
  {% set opts = {
  addon: null,
  }|merge(opts|default({})) %}
  {% if opts.addon is not empty %}
    <div class="input-group">
      {% if opts.addon.l is defined %}
        <span class="input-group-addon">{{ opts.addon.l|raw }}</span>
      {% endif %}
      {{ self.input(opts|merge({addon: null})) }}
      {% if opts.addon.r is defined %}
        <span class="input-group-addon">{{ opts.addon.r|raw }}</span>
      {% endif %}
    </div>
  {% else %}
    <input {{ self._form_element_attrs(opts) }} {{ self._form_input_attrs(opts, value) }}/>
  {% endif %}

{% endmacro %}

{% macro _select(opts, value, _field) %}
  {% import _self as self %}
  {% set opts = {
  multiple: false,
  clear: false,
  options: {},
  }|merge(opts|default({})) %}

  <select {{ self._form_element_attrs(opts) }} {{ self._form_select_attrs(opts) }}>
    {% if opts.clear is not empty %}
      <option data-hidden="true" value="">{{ opts.clear|raw }}</option>
    {% endif %}
    {% for key, lbl in opts.options %}
      <option value="{{ key }}" {{ value == key ? 'selected="selected"': '' }}>{{ lbl }}</option>
    {% endfor %}
  </select>

{% endmacro %}

{% macro _textarea(opts, value, _field) %}
  {% import _self as self %}
  {% set opts = {
  cols: null,
  rows: null,
  }|merge(opts|default({})) %}
  <textarea {{ self._form_element_attrs(opts) }} {{ self._form_textarea_attrs(opts) }}>{{ value|raw }}</textarea>
{% endmacro %}

{% macro input(opts) %}
  {% import _self as self %}
  {% set opts = {
  id: null,
  name: '',
  data: {},
  value: null,
  default: null,
  placeholder: null,
  autocomplete: false,
  disabled: false,
  readonly: false,
  }|merge(opts|default({})) %}
  {% set _field = app._field(opts.name) %}
  {% set value = _field is not empty ? _field.getValue : app.request.get(opts.name, opts.default|default(opts.value), true) %}

  {% if opts.type in ['select'] %}
    {{ self._select(opts, value, _field) }}
  {% elseif opts.type in ['textarea'] %}
    {{ self._textarea(opts, value, _field) }}
  {% else %}
    {{ self._input(opts, value, _field) }}
  {% endif %}
{% endmacro %}

{% macro _field_date(opts) %}
  {% import _self as self %}
  {% set _field = app._field(opts.name) %}
  {% set value = _field is not empty ? _field.getValue : app.request.get(opts.name, opts.default|default(opts.value), true) %}
  {% set value = value|default('--')|split('-') %}

  {% set clear = opts.clear is defined ? opts.clear : false %}
  {% if clear is not iterable %}
    {% set clear = {y: clear, m: clear, d: clear} %}
  {% endif %}
  {% set options = {
  y: dateY(opts.yearsUpper|default(null), opts.yearsLower|default(null)),
  m: dateM(opts.months|default(true)),
  d: dateD(),
  } %}
  {{ self.label(opts) }}
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      {{ self._select({
      inputClass: opts.inputClass,
      autocomplete: false,
      data: {fld: 'm'},
      clear: opts.clear.m,
      options: options.m,
      }, value[1], _field) }}
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      {{ self._select({
      inputClass: opts.inputClass,
      autocomplete: false,
      data: {fld: 'd'},
      clear: opts.clear.d,
      options: options.d,
      }, value[2], _field) }}
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      {{ self._select({
      inputClass: opts.inputClass,
      autocomplete: false,
      data: {fld: 'y'},
      clear: opts.clear.y,
      options: options.y,
      }, value[0], _field) }}
    </div>
  </div>
  {% if clear is not empty %}
    <button type="button" class="btn btn-light pull-right" aria-hidden="true" style="display: none;">
      {{ opts.clearButton|default('Clear') }}
    </button>
  {% endif %}
{% endmacro %}

{% macro field(opts) %}
  {% import _self as self %}
  {% set opts = {
  id: null,
  name: '',
  type: 'text',
  value: null,
  default: null,
  groupClass: 'form-group',
  labelClass: 'control-label',
  inputClass: 'form-control',
  label: null,
  placeholder: null,
  autocomplete: false,
  }|merge(opts|default({})) %}

  {% if opts.type in ['date'] %}
    {{ self.input(opts|merge({type: 'hidden'})) }}
    <div class="{{ opts.groupClass }} {{ self.classes(opts.name) }}">
      {{ self._field_date(opts) }}
      {{ self.messages(opts.name) }}
    </div>
  {% else %}
    <div class="{{ opts.groupClass }} {{ self.classes(opts.name) }}">
      {% if opts.type in ['checkbox', 'radio'] %}
        <div class="{{ opts.type }}">
          {% if opts.label is not empty %}
            {{ self.label(opts|merge({
            label:  self.input(opts|merge({inputClass: null})) ~ opts.label,
            })) }}
          {% else %}
            {{ self.input(opts) }}
          {% endif %}
        </div>
      {% elseif opts.type in ['date'] %}
        {{ self._field_date(opts) }}
      {% else %}
        {{ self.label(opts) }}
        {{ self.input(opts) }}
      {% endif %}
      {{ self.messages(opts.name) }}
    </div>
  {% endif %}
{% endmacro %}

{% macro text(opts) %}
  {% import _self as self %}
  {{ self.field(opts|default({})|merge({
  type: 'text',
  })) }}
{% endmacro %}

{% macro date(opts) %}
  {% import _self as self %}
  {{ self.field(opts|default({})|merge({
  type: 'date',
  })) }}
{% endmacro %}

{% macro check(opts) %}
  {% import _self as self %}
  {{ self.field(opts|default({})|merge({
  type: 'checkbox',
  })) }}
{% endmacro %}

{% macro radio(opts) %}
  {% import _self as self %}
  {{ self.field(opts|default({})|merge({
  type: 'radio',
  })) }}
{% endmacro %}

{% macro phone(opts) %}
  {% import _self as self %}
  {{ self.field(opts|default({})|merge({
  type: 'tel',
  addon: { l: '<i class="icon-phone"></i>', },
  })) }}
{% endmacro %}

{% macro email(opts) %}
  {% import _self as self %}
  {{ self.field(opts|default({})|merge({
  type: 'email',
  addon: { l: '<i class="icon-envelope"></i>', },
  })) }}
{% endmacro %}

{% macro other(opts) %}
  {% import _self as self %}
  {{ self.field(opts|default({})|merge({
  type: 'text',
  addon: { l: '<i class="icon-ellipsis-horizontal"></i>', },
  })) }}
{% endmacro %}

{% macro textarea(opts) %}
  {% import _self as self %}
  {{ self.field(opts|default({})|merge({
  type: 'textarea',
  })) }}
{% endmacro %}

{% macro select(opts) %}
  {% import _self as self %}
  {{ self.field(opts|default({})|merge({
  type: 'select',
  })) }}
{% endmacro %}
