<div class="<%= groupClass %>">

  <label class="<%= labelClass %>" for="<%= name %>"><%== label %></label>
  <p>Not implemented yet! Use beats.macros.form.tags</p>
  <%#
    <select {{ self._form_element_attrs(opts) }} {{ self._form_select_attrs(opts) }}>
      {% if opts.clear is not empty %}
      {% set clear = opts.clear is iterable ? {html: 'N/a', value: '', style: ''}|merge(opts.clear) : {
      html: opts.clear,
      value: '',
      style: 'display: none',
      } %}
      <option data-hidden="true" value="{{ clear.value }}" style="{{ clear.style }}">{{ clear.html|raw }}</option>
      {% endif %}
      {% for key, lbl in opts.options %}
      <option value="{{ key }}" {{ key in value ? 'selected="selected"': '' }}>{{ lbl|raw }}</option>
      {% endfor %}
    </select>

    <div id="{{ opts.name ~ '-selected' }}" class="beats_field_tags-selected panel panel-default">
      {% for key in selected %}
          <span class="beats_field_tags-tag label" data-value="{{ key }}">
            {{ attribute(opts.options, key) }}
          </span>
      {% endfor %}
    </div>

    <div id="{{ opts.name ~ '-rejected' }}" class="beats_field_tags-rejected panel panel-default">
      {% for key in rejected %}
          <span class="beats_field_tags-tag label" data-value="{{ key }}">
            {{ attribute(opts.options, key) }}
          </span>
      {% endfor %}
    </div>
  %>
  <span class="<%= alertClass %>"> <%= alert %></span>
</div>