<div class="form-group <%= groupClass %>">

  <label class="control-label <%= labelClass %>" for="<%= name %>"><%== label %></label>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="form-control" data-fld="m" autocomlete="off">
        <% if (clear) { %>
        <option data-hidden="true" value=""><%= clear.m %></option>
        <% } %>
        <%== Beats._helpers.options(parts.m, value.m) %>
      </select>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="form-control" data-fld="d" autocomlete="off">
        <% if (clear) { %>
        <option data-hidden="true" value=""><%= clear.d %></option>
        <% } %>
        <%== Beats._helpers.options(parts.d, value.d) %>
      </select>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="form-control" data-fld="y" autocomlete="off">
        <% if (clear) { %>
        <option data-hidden="true" value=""><%= clear.y %></option>
        <% } %>
        <%== Beats._helpers.options(parts.y, value.y) %>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="form-control" data-fld="H" autocomlete="off">
        <% if (clear) { %>
        <option data-hidden="true" value=""><%= clear.H %></option>
        <% } %>
        <%== Beats._helpers.options(parts.H, value.H) %>
      </select>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="form-control" data-fld="i" autocomlete="off">
        <% if (clear) { %>
        <option data-hidden="true" value=""><%= clear.i %></option>
        <% } %>
        <%== Beats._helpers.options(parts.i, value.i) %>
      </select>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="form-control" data-fld="p" autocomlete="off">
        <% if (clear) { %>
        <option data-hidden="true" value=""><%= clear.p %></option>
        <% } %>
        <%== Beats._helpers.options(parts.p, value.p) %>
      </select>
    </div>
  </div>
  <% if (clear) { %>
  <button type="button" class="btn btn-light pull-right" aria-hidden="true" style="display: none;">Clear Date</button>
  <% } %>
  <span class="help-block"> <%= alert %></span>
</div>