<div class="form-group <%= groupClass %> <%= error ? 'has-error' : '' %>">

  <label class="control-label <%= labelClass %>" for="<%= name %>"><%== label %></label>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="form-control" data-fld="H" autocomlete="off">
        <% if (clear) { %>
        <option data-hidden="true" value=""><%= clear.H %></option>
        <% } %>
        <%== Beats._helpers.options(parts.H, value.H) %>
      </select>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="form-control" data-fld="i" autocomlete="off">
        <% if (clear) { %>
        <option data-hidden="true" value=""><%= clear.i %></option>
        <% } %>
        <%== Beats._helpers.options(parts.i, value.i) %>
      </select>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="form-control" data-fld="p" autocomlete="off">
        <% if (clear) { %>
        <option data-hidden="true" value=""><%= clear.p %></option>
        <% } %>
        <%== Beats._helpers.options(parts.p, value.p) %>
      </select>
    </div>
  </div>

  <% if (clear) { %>
  <button type="button" class="btn btn-light pull-right" aria-hidden="true" style="display: none;">Clear Time</button>
  <% } %>
  <span class="help-block"> <%= error %></span>
</div>