{% extends "::bootstrap-mx.html.twig" %}

{% block title %}{{ parent() }} {{ page.title }}{% endblock %}

{% block body %}

  <div id="content" class="container">

    <div class="row-fluid  double-margin-top">

      <div class="span12 large-margin-right large-margin-top large-margin-bottom no-margin alert alert-block alert-{{ page.type }}">

        <h4 class="alert-heading">{{ page.heading }}</h4>

        <div class="margin-top">{{ page.message | raw }}</div>

        <div class="row-fluid double-margin-top">
          <a class="span2 btn btn-info" href="{{ page.href }}">Go to previous page</a>
          <a class="span2 btn" href="/">Homepage</a>
        </div>

      </div>

    </div>

  </div>

{% endblock %}
